*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar{
    width: 20%;
    height: 60px;
    position: fixed;
    right: 0;
    padding: 20px;
    z-index: 1;
    background-color:black;
    border-radius: 15px;
}

.navbar{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.navlist{
    display: flex;
    width: 100%;
    font-size: 20px;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    position: absolute;
}

.navlist li a:hover {
    border-bottom: 2px solid cyan;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: cyan;
    transition: color 500ms linear;
} 


a{
    text-decoration: none;
    color: whitesmoke;
    border-bottom: 1px solid white;
    border-top-color: cyan;
    border-top-style: solid;
    border-top-width: 0;
}


